/*generals*/
section{
  text-align: center;
}
.h2_title{
  margin: 40px 0 20px 0;
}
h2{
  font-size: 40px;
}
.comp_box{
  padding: 30px;
}
h3{
  font-size: 25px;
  margin: 20px 0;
}
p{
  font-size: 20px;
}
.img_box{
  width: 300px;
  height: 200px;
  display: inline-block;
}
img{
  height: 100%;
  width: auto;
}
/*/generals*/
/*first_section*/
/*row_1*/
/*/row_1*/
/*row_2*/
/*row_2*/
/*/first_section*/
/*media_query*/
/*tablet*/
@media screen and (min-width:768px) and (max-width:991px){
  .h2_title{
    margin: 20px 0 10px 0;
  }
  h2{
    font-size: 25px;
  }
  .comp_box{
    padding: 25px;
  }
  h3{
    font-size: 20px;
    margin: 10px 0;
  }
  p{
    font-size: 15px;
  }
  .img_box{
    width: 225px;
    height: 150px;
  }
}
/*/tablet*/
/*smartphone*/
@media screen and (max-width:768px){
  .h2_title{
    margin: 10px 0 5px 0;
  }
  h2{
    font-size: 15px;
  }
  .comp_box{
    padding: 15px;
  }
  h3{
    font-size: 10px;
    margin: 5px 0;
  }
  p{
    font-size: 10px;
  }
  .img_box{
    width: 150px;
    height: 100px;
  }
}
/*/smartphone*/
/*/media_query*/
